<h2>Add a Patient </h2>
<label>Email verification</label>
<p> We just sent an email to {{carePlan.email}}.</p>
<p> Open the email and click the confirmation link to verify the email address.</p>
<p> After that, you'll be all done!</p>
<p> John's Journal will be synchronized to everyone who had added them.</p>
<a class='btn' href="/care_plans/{{carePlan._id}}">Go to {{carePlan.name}}'s Journal</a>