<section class="main">
  <h2>Patient invited</h2>
  <p>We just sent an email invite to <b>{{carePlan.patient.email}}</b>.
  <p>{{carePlan.patient.name}}'s journal will be syncronized with the care team once they have created an account. 
  <p><a class="button" href="/care_plans/{{carePlan._id}}">Go to {{carePlan.patient.name}}'s Journal</a>
</section>
