<h2>Add a Patient </h2>
<label>You're all set!</label>
<p>You can invite {{carePlan.patient.name}} at any time by adding their email address</p>
<p>To add their email address, click the "Care Team" tab and choose to "Invite patient"</p>
<p>{{carePlan.name}}'s Journal will still be synchronized with any caregivers you add to the care team.
<a class='btn' href="/care_plans/{{carePlan._id}}">Go to {{carePlan.name}}'s Journal</a>
