<% include ../../_navbar-back %>
<div class="form-page">
  <section class="main">
    <p>If your health provider supports Blue Button+, then your health information can be easily imported.
    <div class="callout">
      Your Direct address is:
      <em>{{carePlan.directAddress}}</em>
    </div>
    <ol>
      <li>Sign in to your health provider's web site.
      <li>Find the Blue Button logo.
      <li>Enter your Direct address (above).
    </ol>
    <p>Once you've entered your Direct address, your provider will send your health record to this application.
  </section>
</div>
