<h1>Your patients</h1>
<ul ng-repeat="carePlan in carePlans">
  <li class="patient-care-plan">
    <a href="/care_plans/{{carePlan._id}}">{{carePlan.name}}</a>
</ul>
<ul>
  <li><a href="/care_plans/add">Add a patient</a>
</ul>