<section class="main toolbar">
  <div ng-switch="showWelcomeMessage">
    <div ng-switch-when="true">
      Welcome to CareTracker! Start by adding a patient below.
    </div>
  </div>
  <div>
    <a href="/care_plans/add" class="button">Add a patient</a>
    <ng:switch on="!!myCarePlan">
      <span ng:switch-when="false">
        <a href="/care_plans/add_my_plan" class="button">Manage my care</a>
      </span>
    </ng:switch>
  </div>
</section>
<section class="table">
  <ul>
    <li class="patient-care-plan" ng-repeat="carePlan in carePlans">
      <a href="/care_plans/{{carePlan._id}}">{{carePlan.patient.name}}</a>
  </ul>
</section>
