<% include ../../_navbar-back %>

<div class="form-page">
  <section class="main">
    <form>
      <div>
        <input type="text" name="patient[name]" ng-model="form.patient.name" placeholder="Patient's display name" autofocus>
      </div>
      <div>
        <input type="text" name="patient[email]" ng-model="form.patient.email" placeholder="Patient's email address (optional)">
      </div>
    </form>
    <p class="hint">
      We will use the patient's email address to sync updates to their Journal.
    </p>
    <button ng-click="createCarePlan()" class="button">Add patient</button>
  </section>
</div>
