
<div class="form-page">
  <section class="main">
    <h2>Add a Patient</h2>
    <input type="text" name="name" ng-model="form.name" placeholder="Patient Display Name">
    <div>
      <input type="text" name="email" ng-model="form.email" placeholder="Patient Email (optional)">
    </div>
    <p class="hint">
      Without a patient email address we cannot sync your updates to the patient's journal.
    <p>
      <button ng-click="createCarePlan()" class="button">Add</button>
  </section>
</div>
