<% include ../../_navbar-back %>
<div class="form-page">
  <section class="main">
    <form>
      <p>
        Start managing my own care with CareTracker. You can then invite
        doctors, caregivers and family to share in managing your care.
      </p>
    <button ng-click="createPatientCarePlan()" class="button">Manage my care</button>
    <a href="/">Not right now</a>
  </section>
</div>
