<section class="navbar">
  <ul>
    <li class="active"><a href="/care_plans/{{carePlan._id}}">Journal</a></li>
    <li><a href="/care_plans/{{carePlan._id}}/care_providers">Care Team</a></li>
    <li><a href="/care_plans/{{carePlan._id}}/health_record">Health Record</a></li>
  </ul>
</section>

<section class="title">
  <div class="avatar">
    <div class="image"></div>
  </div>
  <div class="name">
    <h2>{{carePlan.name}}</h2>
  </div>
</section>

<section class="main">
  <p>Direct Address: {{carePlan.directAddress}}
  <div>
    <a href="/events/new" class="button">Add new schedule</a>
  </div>
</section>

<section class="timeline">
  <section class="timeline-day">
    Today, Saturday, August 3rd
  </section>
  <ul class="tasks">
    <li ng-repeat="task in tasks">
      <div class="checkmark" ng-class="{task.completedAt:'checked'}"></div>
      <div class="icon-avatar"></div>
      <div class="content">
        <a href="">Task name</a>
      </div>
  </ul>
</section>
