<section class="navbar">
  <ul>
    <li class="active"><a href="/care_plans/{{carePlan._id}}">Journal</a></li>
    <li><a href="/care_plans/{{carePlan._id}}/care_providers">Care Team</a></li>
    <li><a href="/care_plans/{{carePlan._id}}/health_record">Health Record</a></li>
  </ul>
</section>

<section class="title">
  <div class="avatar">
    <div class="image"></div>
  </div>
  <div class="name">
    <h2>{{carePlan.patient.name}}</h2>
  </div>
</section>

<section class="main toolbar">
  <div class="right">
    <a href="/care_plans/{{carePlan._id}}/data_import" class="button">
      <span class="icon icon-bluebutton"></span>
      Import health data
    </a>
  </div>
  <div class="left">
    <a href="/care_plans/{{carePlan._id}}/schedules/new" class="button">+ Add new task</a>
  </div>
</section>

<section class="timeline">
  <section class="timeline-day">
    {{formattedDay}}
  </section>
  <ul class="tasks">
    <li ng-repeat="task in tasks">
      <div class="checkmark" ng-class="{checked: task.completed.at}" ng-click="toggleCompleted(task.scheduleId, task.start)"></div>
      <div class="icon-avatar" ng-class="{hasNote: task.note}"></div>
      <div class="content">
        <span class="time">{{task.start | date:'shortTime'}}</span>
        <a href="/care_plans/{{carePlan._id}}/schedules/{{task.scheduleId}}/tasks/{{task.start}}">
          {{task.name}}
        </a>
      </div>
  </ul>
</section>
