<% if (!user) { %>
  <p>
  <a href="/">Home</a> |
  <a href="/login">Log In</a> |
  <a href="/signup">Sign up</a>
  </p>
<% } else { %>
  <p>
  <a href="/">Home</a> |
  <a href="/account">My Account</a> |
  <a href="/logout">Log Out</a>
  </p>
<% } %>
