<header>

  <div class="header-left">
    <a href="/" class="button button-icon" title="Back" class="icon"><span class="icon icon-back"></span></a>
  </div>

  <div class="header-right">
    <% if (user) { %>
      <!-- User is logged in. -->
      <a href="/account" class="button button-icon" title="Settings"><span class="icon icon-settings"></span></a>
    <% } %>
  </div>

</header>
