<% include _header %>
<% include _navbar-back %>

<section class="main">
  <h1>Account Settings</h1>
  <h2>Email</h2>
  <p><%= user.email %></p>
  <h2>Sign out</h2>
  <a href="/logout">Sign out</a> from Carefull.
</section>

<% include _footer %>
