<% include _header %>
<% include _navbar-back %>

<div class="form-page">
  <section class="main">
    <h1>Account Settings</h1>
    <p>Email: <%= user.email %>
    <div>
      <a href="/logout" class="button">Sign out</a>
    </div>
  </section>
</div>

<% include _footer %>
