<% include _header %>

<!-- TODO(healthio-dev): Move header/footer to a base template and add class with an argument to an extends tag. Is that possible? -->
<div class="login-page form-page">

  <% if (messages) { %>
    <section class="messages">
      <% messages.forEach(function(message){ %>
        <p><%= message %>
      <% }); %>
    </section>
  <% }; %>

  <div class="logo"></div>
  <h1>Caretracker</h1>

  <section class="main">
    <form action="" method="post">
      <div>
        <input type="text" name="email" placeholder="Email" autofocus>
      </div>
      <div>
        <input type="password" name="password" placeholder="Password">
      </div>
      <div class="buttons">
        <div>
          <input type="submit" value="Sign in" class="button">
        </div>
        <div>
          <a href="/signup" class="button button-secondary">Sign up</a>
        </div>
      </div>
    </form>
  </section>

  <p>
    <a href="#">About</a>
    • <a href="#">Help</a>
    • <a href="#">Privacy & Terms</a>

</div>

<% include _footer %>
