<% include _header %>

<% if (messages) { %>
  <% messages.forEach(function(message){ %>
    <p><%= message %></p>
  <% }); %>
<% }; %>

<form action="" method="post">
  <div>
    <label>Email address</label>
    <input type="text" name="email">
  </div>
  <div>
    <label>Password</label>
    <input type="password" name="password">
  </div>
    <input type="submit" value="Sign in">
  </div>
  <div>
    <a href="/signup">Sign up!</a>
  </div>
</form>

<% include _footer %>
