<% include _main-header %>

    <!-- Add your site or application content here -->
    <div class="container" ng-view></div>

    <script src="components/angular/angular.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-cookies/angular-cookies.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>
    <script src="zxcvbn/zxcvbn-async.js"></script>

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
<% include _footer %>