<% include _header %>
<!-- User is logged in. -->
<div class="hamburger-container" id="hamburger-container" ng-app="caretracker">

  <header>
    <div class="header-right">
      <a href="/account" class="button button-icon" title="Settings" target="_self"><span class="icon icon-settings"></span></a>
    </div>
    <div class="header-left">
      <!-- TODO(healthio-dev): Move this to be within the Angular app, and use an Angular controller. -->
      <div href="/" class="button button-icon hamburger-button" title="Menu" class="icon"><span class="icon icon-hamburger"></span></div>
    </div>
    <div class="header-title">{{title}}</div>
  </header>

  <nav class="hamburger-menu" ng-controller="MenuController">
    <ul>
      <li><a href="/care_plans">Your patients</a>
    </ul>
    <ul ng-repeat="carePlan in carePlans">
      <li><a href="/care_plans/{{carePlan._id}}">{{carePlan.patient.name}}</a>
    </ul>
    <ul>
      <li><a href="/care_plans/add">+ Add a patient</a>
    </ul>
    <div class="footer">
      <a href="/logout">Sign out from CareTracker</a>.
    </div>
  </nav>
  <div class="hamburger-mask"></div>

  <div class="hamburger-main" >
    <div class="container" ng-view></div>
  </div>
</div>

<script src="/public/js/lib/angular/angular.js"></script>
<script src="/public/js/lib/angular-resource/angular-resource.js"></script>
<script src="/public/js/lib/angular-cookies/angular-cookies.js"></script>
<script src="/public/js/lib/angular-sanitize/angular-sanitize.js"></script>

<!-- build:js scripts/scripts.js -->
<script src="/public/js/services.js"></script>
<script src="/public/js/controllers.js"></script>
<script src="/public/js/filters.js"></script>
<script src="/public/js/directives.js"></script>
<script src="/public/js/app.js"></script>
<!-- endbuild -->

<script src="/public/js/lib/moment.js"></script>
<script src="/public/js/lib/jquery.min.js"></script>
<script src="/public/js/hamburger.js"></script>

<% include _footer %>
