<% include _main-header %>
<div ng-app="caretracker">

  <!-- Add your site or application content here -->
  <div class="container" ng-view></div>

  <script src="js/lib/angular/angular.js"></script>
  <script src="js/lib/angular-resource/angular-resource.js"></script>
  <script src="js/lib/angular-cookies/angular-cookies.js"></script>
  <script src="js/lib/angular-sanitize/angular-sanitize.js"></script>

  <!-- build:js scripts/scripts.js -->
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/app.js"></script>
  <!-- endbuild -->
</div>

<% include _footer %>