<% include _header %>

<div ng-app="caretracker">

  <!-- Add your site or application content here -->
  <div class="container" ng-view></div>

  <script src="/public/js/lib/angular/angular.js"></script>
  <script src="/public/js/lib/angular-resource/angular-resource.js"></script>
  <script src="/public/js/lib/angular-cookies/angular-cookies.js"></script>
  <script src="/public/js/lib/angular-sanitize/angular-sanitize.js"></script>

  <!-- build:js scripts/scripts.js -->
  <script src="/public/js/services.js"></script>
  <script src="/public/js/controllers.js"></script>
  <script src="/public/js/filters.js"></script>
  <script src="/public/js/directives.js"></script>
  <script src="/public/js/app.js"></script>
  <!-- endbuild -->
</div>

<% include _footer %>
