<% include _header %>

<div class="privacy-page">

  <section class="main">
    <h1>Privacy Policy</h1>
    </br>

    <h3>Disclaimer &amp; Overview</h3>
    <p>
      This CareTracker app is NOT SECURE IN ANY WAY, and is not intended for use with real medical information... yet. It is intended only for testing purposes and any real health information that is uploaded IS NOT SAFE AND SECURE.
    </p>

    <p>
      That being said, our lawyers have also come up with a very complicated legal document that they would like us to list here to protect ourselves while we work on something more appropriate. So by even testing the app, you are also subjecting yourselves to the privacy policy described below.
    </p>

    <p>
      To try to help explain this policy, we have come up with our own summary version (although the one you are legally bound to is the official one that you will find below this summary version).
    </p>

    <ul>
    <li>
      We will our very best to protect your data and our technology team is top notch and understand security and privacy better than most. But if you do something stupid (like give someone your password or choose a simple password) your data may end up in the wrong hands. Be sensible. When we do eventually launch a real product, your data will be in good hands. </br></br>
    </li>
    <li>
      We will never intentionally give another organization (such as an insurance company) your personal health information unless you (or someone who has authorized access to your data) specifically requst for us to do so. However, we may use your data in a de-identified way to learn more about population health, or do some analytics or something that we believe will add value where along the value chain. Rest assured, these kinds of analysis we will do, will not breach your privacy. </br></br>
    </li>
    <li>
      We might send you emails and try to market other products to you... and we may even try to make money of the data we collect of you. We will eventually try to build a real business and may find something interesting that someone wants to pay for. Rest assured, your privacy will not be breached unless you approve. </br></br>
    </li>
    </ul>

    <h3>The Official Hint Health Privacy Policy</h3>

  </section>


</div>

<% include _footer %>
