<h3>
  <a>{{carePlan.name}}'s Care Team</a>
</h3>
<div class='pull-right'><a href='/care_plans/{{carePlan._id}}/care_team/new'><i class="icon-plus">Add (+)</i></a></div>
{{carePlan.name}}'s journal is shared with the following people:
<ul ng-repeat='careProvider in careTeam' %>
  <li class='care-provider'>
    <p><strong> {{careProvider.name}} </strong></p>
    <span> {{careProvider.relation}} </span>
  </li>
</ul>
