@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  background: #d3d6db;
  bottom: 0;
  font-family: 'Lato', 'Helvetica Neue', arial, sans-serif;
  font-weight: 200;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.hint {
  color: #555;
  margin: 10px 0 15px;
}

.warning {
  background-color: #FEEFB3;
  border-radius: 3px;
  color: #9F6000;
  margin-bottom: 10px;
  padding: 15px;

  h3 {
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    padding: 10px 0;
    margin: 0;
  }
}

p {
  margin-top: 0;
}

a {
  color: #666;
  font-weight: 400;
  text-decoration: none;
}

h1,
h2,
h3 {
  box-sizing: border-box;
  font-weight: normal;
  margin-top: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

section:after {
 clear: both;
 content: " ";
 display: block;
 font-size: 0;
 height: 0;
 visibility: hidden;
}

label {
  display: block;
}

.callout {
  background: #fff;
  border-radius: 5px;
  color: #666;
  font-weight: bold;
  text-align: center;
  padding: 10px 5px;
}

.callout em {
  color: #000;
  display: block;
  font-size: 1.25em;
  font-style: normal;
  font-weight: bold;
}

/**
 * Sections.
 */

section.main,
section.messages {
  padding: 15px;
}

section.messages p {
  background: #D35400;
  border-radius: 3px;
  color: #fff;
  margin: 0;
  padding: 10px;
}

.button {
  background: #1086dc;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Lato', 'Helvetica Neue', arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

section a.button .icon {
  margin: -10px 10px -10px -5px;
  vertical-align: middle;
}

a.button {
  text-decoration: none;
}

section.main .button {
  border-bottom: 3px solid #3b82b6;
  margin-bottom: 10px;
  padding: 10px 20px;
}

section.toolbar .button {
  margin-bottom: 0;
}

section.main .button.button-secondary {
  background: #374a5d;
  border-bottom: 3px solid #2e3e4f;
}

input[type=text],
input[type=email],
input[type=password] {
  -webkit-backface-visibility: hidden;
  border-radius: 3px;
  border: 1px solid #bdc3c7;
  box-sizing: border-box;
  color: #34495e;
  font-size: 15px;
  font-family: 'Roboto', 'Helvetica Neue', arial, sans-serif;
  padding: 8px 5px;
  text-indent: 6px;
  transition: border .25s linear, color .25s linear;
}

/**
 * Navbar.
 */

section.navbar {
  background: #54b59a;
  color: #fff;
  padding: 5px;
  text-align: center;
}

section.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section.navbar ul li {
  display: inline-block;
}

section.navbar ul a {
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
}

section.navbar ul li.active a {
  font-weight: bold;
}

/**
 * Table.
 */

section.table ul {
  background: #fff;
  border: 1px solid #dedede;
  border-bottom: 0;
  border-radius: 3px;
  list-style: none;
  margin: 0 15px 15px 15px;
  padding: 0;
}

section.table ul li {
  border-collapse: collapse;
  border-bottom: 1px solid #dedede;
}

section.table ul li a {
  display: block;
  padding: 10px 15px;
}

section.table ul li a:hover {
  background: #efefef;
}
