.form-page .buttons {
  margin-top: 10px;
}

.form-page .buttons input[type=submit] {
  margin-bottom: 10px;
}

.form-page input[type=text],
.form-page input[type=email],
.form-page input[type=password] {
  min-width: 260px;
}

.form-page form > div {
  margin-bottom: 5px;
}

.form-page .button {
  min-width: 260px;
  padding: 10px 20px;
}

.form-page section.main {
  margin: 0 auto;
  max-width: 260px;
}
