.form-page {
  max-width: 400px;
  margin: 0 auto;

  .button {
    padding: 10px 20px;
    width: 100%;
    &[disabled]{
      cursor: not-allowed;
      background: #999;
      border-bottom: 3px solid  #d9d9d9;
      color:  #dddddd;
    }
  }

  .buttons {
    margin-top: 10px;
    input[type=submit] {
      margin-bottom: 10px;
    }
  }

  input[type=text], input[type=email], input[type=password] {
    box-sizing: border-box;
    width: 100%;
  }

  input.ng-invalid{
    box-shadow: 0 0 1.5px 1px #ec4b22;
  }

  form > div {
    margin-bottom: 5px;
  }

  section.main {
    margin: 0 auto;
  }
}