/**
 * TODO(healthio-dev): Move all this to a less file.
 */

.password-strength-0 {
    text-align: center;
    font-weight: bold;
}
.password-strength-0, .password-strength-1 {
    background-color: red;
    border-color: indianred;
}
.password-strength-0, .password-strength-1 {
    border-color: indianred;
    background-color: indianred;
}
.password-strength-2 {
    background-color: darkorange;
    border-color: orange;
}
.password-strength-3, .password-strength-4 {
    border-color: lightgreen;
    background-color: lightgreen;
}
.password-strength-3, .password-strength-4 {
    background-color: green;
    border-color: green;
}

body {
  background: #efefef;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 200;
  padding: 45px 0 0 0;
}

header {
  background: #479982;
  color: #fff;
  height: 45px;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header h1 {
  font-size: 16px;
  font-weight: 300;
  line-height: 45px;
}

header .button {
  background: #54b59a;
  float: left;
  height: 30px;
  margin: 7px 15px;
  width: 30px;
}

header .button.button-right {
  float: right;
}

h1,
h2,
h3 {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
}

section.title {
  background: #fff;
  box-sizing: border-box;
}

section.title:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

section.title .avatar,
section.title .name {
  box-sizing: border-box;
  height: 100px;
  float: left;
  width: 50%;
}

section.title .avatar {
  background: #edf0f1;
}

section.title .avatar .image {
  background: url('avatar.png') no-repeat center center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

section.title .name {
  color: #479982;
  padding: 20px;
}

section.main,
section.messages {
  margin: 15px;
}

section.messages p {
  background: #D35400;
  border-radius: 3px;
  padding: 10px;
  color: #fff;
}

.button {
  background: #1086dc;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

a.button {
  text-decoration: none;
}

label {
  display: block;
}

section.main .button {
  border-bottom: 3px solid #3b82b6;
  margin-bottom: 10px;
  padding: 10px 20px;
}

section.main .button.button-secondary {
  background: #374a5d;
  border-bottom: 3px solid #2e3e4f;
}

section.timeline-day {
  background: #54b59a;
  color: #fff;
  padding: 20px;
}

section.timeline ul,
section.timeline li {
  list-style: none;
  margin: 0;
  padding: 0;
}

section.timeline ul {
  margin: 20px;
}

section.timeline li {
  margin: 0 0 20px 0;
}

section.timeline li:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.icon-avatar {
  background: #dedede;
  border-radius: 50px;
  border: 3px solid #fff;
  height: 50px;
  width: 50px;
}

.checkmark {
  background: #66b558;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

section.timeline .checkmark {
  float: right;
  margin-left: 15px;
}

section.timeline .icon-avatar {
  float: left;
  margin-right: 15px;
}

section.timeline .content {
  float: left;
}

input[type=text],
input[type=email],
input[type=password] {
  -webkit-backface-visibility: hidden;
  border-radius: 3px;
  border: 1px solid #bdc3c7;
  box-sizing: border-box;
  color: #34495e;
  font-size: 14px;
  padding: 8px 5px;
  text-indent: 6px;
  transition: border .25s linear, color .25s linear;
}

/**
 * Login page.
 */

.login-page .buttons {
  margin-top: 10px;
}

.login-page .buttons input[type=submit] {
  margin-bottom: 10px;
}

.login-page input[type=text],
.login-page input[type=password] {
  min-width: 260px;
}

.login-page form > div {
  margin-bottom: 5px;
}

.login-page .button {
  min-width: 260px;
}
