<section class="navbar">
  <ul>
    <li><a href="/care_plans/{{carePlan._id}}">Journal</a></li>
    <li class="active"><a href="/care_plans/{{carePlan._id}}/care_providers">Care Team</a></li>
    <li><a href="/care_plans/{{carePlan._id}}/health_record">Health Record</a></li>
  </ul>
</section>

<section class="main">
  <ng:switch on="!!careProviders.length" >
    <div ng:switch-when="true">
      The following people have been invited to {{carePlan.name}}'s care team:
      <ul ng-repeat="careProvider in careProviders">
        <li class="care-provider">
          <p>
            <strong> {{careProvider.name}}</strong> ({{careProvider.relation}})
            <br/>

            <a href="mailto:{{careProvider.email}}">{{careProvider.email}}</a>
            <span ng-show="careProvider.inviteKey"> -
              <a href="/join-team/{{careProvider.inviteKey}}" target="_self" >pending</a>
            </span>
            <span ng-show="!careProvider.inviteKey">
              accepted
            </span>
          </p>
        </li>
      </ul>
    </div>
    <div ng:switch-when="false">
      <p>{{carePlan.patient.name}}'s journal is not shared with anyone.</p>
    </div>
  </ng:switch>
  <div>
    <a href="/care_plans/{{carePlan._id}}/care_providers/new" class="button">Add person</a>
  </div>
</section>

