<section class="main">
  <p><a href='/events/add'>Add new entry</a>
</section>

<section class="timeline-day">
  There are {{events.length}} journal entries
</section>

<section class="timeline">
  <ul ng-repeat='event in events' %>
    <li>
      <div class="checkmark" ng-class="{event.completed_at:'checked'}"></div>
      <div class="icon-avatar"></div>
      <div class="content">
        <a href='/events/{{event._id}}')>{{event.name}}</a>
      </div>
    </li>
  </ul>
</section>
