<p> There are {{events.length}} journal entries </p>
<ul ng-repeat='event in events' %>
  <li>
    <span>{{event.name}} [{{event.completed_at || "Not completed"}}]</span>
    <a href='/events/{{event._id}}')> More </a>
    |
    <a href='/events/{{event._id}}/edit'> Edit </a>
    |
    <a href='/events/{{event._id}}/delete'> Delete </a>
  </li>
</ul>
<a href='/events/add'>Add new entry</a>